@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem;
  flex-wrap: wrap;
}

.section-2 {
  width: 85%;
  margin: 0 auto;
}

.text-small {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.light-gray {
  color: lightgray;
}

.gray {
  color: gray;
}

.red {
  color: red;
}

.bg-gray {
  background-color: gray;
}

.bg-red {
  background-color: red;
}
